:root{
    --fundo-primario: #5a3620;
    --fundo-secundario: #EB9C0A;
    --branco: #FFFFFF;
    --destaque-primario: #3E8989;
    --destaque-secundario: #BCD979;
    --texto-destaque: rgb(211, 211, 90);
}

